<h3 mat-dialog-title>{{isEdit ? 'Edit' : 'Add'}} Insurance</h3>

<mat-dialog-content>
  <form [formGroup]="insuranceForm">

    <div class="row">
      <div class="col-md-6 col-12 mb-3">
        <mat-form-field>
          <mat-label>Insurance Name</mat-label>
          <input type="text" [formControl]="nameControl" matInput />
        </mat-form-field>
      </div>

      <div class="col-md-6 col-12 mb-3">
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input type="number" [formControl]="amountControl" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 mb-3">
        <mat-form-field>
          <mat-label>Payment Currency</mat-label>
          <mat-select [formControl]="currencyControl">
            <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-12 mb-3">
        <mat-form-field>
          <mat-label>Payment Period</mat-label>
          <mat-select [formControl]="paymentPeriodControl">
            <mat-option *ngFor="let paymentPeriod of paymentPeriods" [value]="paymentPeriod">{{ paymentPeriod
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 mb-3">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" [formControl]="descriptionControl" matInput>
      </mat-form-field>
    </div>

    <mat-checkbox [formControl]="hasExpiryDateControl">
      Insurance has expiry date
    </mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="dialogRef.close()" [disabled]="isLoading">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="isLoading || insuranceForm.invalid">
    {{isLoading ? 'Loading...' : isEdit ? 'Edit' : 'Add'}}
  </button>
</mat-dialog-actions>